fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
slowapi
secure
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-multipart
email-validator
pandas
numpy
scikit-learn
joblib
lightgbm
optuna
pytest
httpx
requests
passlib==1.7.4
bcrypt==4.0.1