@tailwind base;
@tailwind components;
@tailwind utilities;

/* temporary: usar cores diretas para evitar erro @apply */
body {
  background-color: #F9FAFB; /* gray-50 */
  color: #1F2937;            /* gray-800 */
  font-family: Inter, system-ui, sans-serif;
}
